@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";


@theme {
    --color-background: #FAFAFA;
}

:root {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;

  }
  h1 {
    @apply text-3xl mx-auto max-w-4xl font-bold m-0;
  }
  h2 {
    @apply text-xl font-bold;
  }
}

@layer components {
  .nav-bar {
    @apply flex items-center justify-between p-6 bg-white;
  }
  .main-container {
    @apply flex-grow bg-background;
  }
}